In [2]:
#ex. 16.2
import csv

#Open CSV file and read it with DictReader
with open('books.csv', newline='') as csvfile:
    reader = csv.DictReader(csvfile)
    #books dictionary
    books = []
    # Iterate through each row and append 
    for row in reader:
        books.append(row)
# Print from books with for loop
for book in books:
    print(book)

{'"author,book"': '"J R R Tolkien,The Hobbit"'}
{'"author,book"': '"Lynne Truss,"Eats, Shoots & Leaves""'}

In [12]:
#create database for ex 16.8 using the books2.csv file
#import csv, from sqlalchemy import create engine function, MetaData collection and Table to access books table
import csv
from sqlalchemy import create_engine, MetaData, Table
engine = create_engine('sqlite:///books.db')
metadata = MetaData()
metadata.reflect(bind=engine)

# Get the books table from MetaData
books_table = metadata.tables['books']

# Read the books data from books2.csv and insert it into the books table
with open('books2.csv', newline='') as csvfile:
    reader = csv.DictReader(csvfile)
    for row in reader:
        title = row['title']
        author = row['author']
        year = int(row['year'])
        # Insert data into the books table
        engine.execute(books_table.insert().values(title=title, author=author, year=year))

KeyError: 'title'

In [13]:
#ex 16.8
#import from sqlalchemy, create_engine function, Metadata collection, database Table, select function
from sqlalchemy import create_engine, MetaData, Table, select

# Create an SQLAlchemy engine to connect to the SQLite database. Create metadata object
engine = create_engine('sqlite:///books.db')
metadata = MetaData()
metadata.reflect(bind=engine)

# Get books from table, create select statement and then run statement. Fetch and print from title column
books_table = metadata.tables['books']
select_statement = select(books_table.c.title).order_by(books_table.c.title)
with engine.connect() as connection:
    result = connection.execute(select_statement)
    for row in result.fetchall():
        print(row[0])